@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Your custom design tokens go here */
  --font-fancy: "Charmonman", cursive, serif;
  --font-vintage: "Cormorant SC", serif;
}

:root {
  --ui-primary: var(--ui-color-primary-950);
}

.dark {
  --ui-primary: var(--ui-color-primary-50);
}
